@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
 --font-sans: "Poppins", sans-serif;
 --color-bg:  oklch(98.5% 0 0);
 --color-border-50: oklch(97% 0 0)

}

@layer base {
  *, ::before, ::after { box-sizing: border-box; }
  html, body {
    background-color: var(--color-bg);
    font-family: var(--font-sans);
    margin: 0;
  }
}

